.label {
-fx-font-smoothing-type: gray;
-fx-text-fill: #F6FFC8;
-fx-font-size: 81;
-fx-font-weight: bold;
-fx-smooth: true;
-fx-effect: dropshadow(gaussian, #B9B9B9, 0, 0.0, 0, 5);
}

VBox {
-fx-background-color: #61FFC6;
}